{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
<header class="masthead" style="background-image: url(' {{ url_for('static', filename = 'img/about-bg.jpg') }} ')"
        xmlns="http://www.w3.org/1999/html">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About DOUBTHUB</h1>
            <span class="subheading">This is what we do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3> <center><a href="/">DOUBTHUB</a> is created to solve</center> </h3>
        <h3><center>the #1 doubts in the global learning system today.</center></h3>
        <p>Every study place taught but less than 5% of schools and even paid coaching centres resolves Doubts of students.Paid coaching takes care for only higher IQ students.This makes the loopholes in student prepration which spoils our years and sometimes mental dipression occurs which could affect the life of the student too.</p>
        <p>Today, in the computer age, there is very less facility of doubts resolvation. Result, a major gap in the requirements of the need of requisite prepration and our students Level .</p>
        <p>DOUBTHUB stands with the students in this new world. Students just have to share the image of their question along eith some information, we(our communnity) will send you the solution of your question, in this all students get the new techniques for solving the problem--to generate thei dream outcomes.</p>
        <p>All solutions will be available everywhere anytime Online in the comfort of your home by Top qualified and  certified tutors.</p>
        <p>DOUBTHUB also provides the reqird and important information about exams commenced by state and central, be with us and enjoy this service of doubt resolving and many more</p>
      </div>
    </div>
  </div>

{% endblock %}